@{
    ViewBag.Title = "Admin dashBoard";
}

<h1>Ici on admin!</h1>

<ul>
    <li>@Html.ActionLink("validation et edition commentaire externe", "Admin", "CommentairesExternes")</li>
    <li>@Html.ActionLink("Newsletter", "Index", "NewsLetters")</li>
    <li>@Html.ActionLink("Signalisation commentaires", "Admin", "Commentaires")</li>
    <li>@Html.ActionLink("validation et edition commentaire externe", "Admin", "CommentairesExternes")</li>
</ul>
