@model IEnumerable<Category>


<ul>


    @foreach (var item in Model)
    {
        
            <li>@Html.ActionLink(item.Name, "Categorie", "CommentaireExternes", new { page = 1, categorieName = item.Name },null)</li>
        
    }
</ul>
