@model CommentairesExterneContent

<div class="row commentaire-content col-md-offset-@Model.Niveau">
    <div >
        <span class="pseudo">@Model.Pseudo</span>
        <span class="separation-pseudo-commentaire">:</span>
        <span class="commentaire">@Model.Commentaire</span>
    </div>
</div>
