html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* Perso
    -------------------------------------------------------*/
#ajoutdecoms .row {
    margin-bottom: 10px;
}

.navbar-static-top {
    background-image: none;
    background-color: #ffffff;
}

@media (max-width: 750px) { 
        .divider {
            display: none !important;
        }
}