html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
}
p {
    margin-left: 15px;
}
/* Perso
    -------------------------------------------------------*/
#ajoutdecoms .row {
    margin-bottom: 10px;
}

.navbar-static-top {
    background-image: none;
    background-color: #ffffff;
}



footer {
    background-color: #555;
    color: #fff;
    -webkit-box-shadow: 0px -1px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -1px 9px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -1px 9px 0px rgba(50, 50, 50, 0.75);
}

    footer .separator {
        color: #333;
        margin-left: 8px;
        margin-right: 8px;
    }

    footer a, footer a:visited {
        color: #fff;
        text-decoration: none;
    }

        footer a:hover, footer a:focus {
            color: #fff;
            text-decoration: underline;
        }

    footer p {
        margin-top: 6px;
    }

#rightMenu, #theContainer {
    padding: 10px;
    margin-bottom: 25px;
}

    #rightMenu > div, .backgroundWhite {
        background-color: #ffffff;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.075);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.075);
        margin-bottom: 15px;
    }
    .pageList {
        text-align: center;
    }

    #rightMenu h3, #rightMenu h4 {
        margin-left: 0;
        margin-right: 0;
        margin-top: 25px;
        padding-left: 18px;
        border-bottom: solid 2px #3FD0C3;
    }

    #rightMenu h4 {
        padding-left: 10px;
        margin-left: 15px;
    }

.backgroundWhite {
    margin: 0;
    padding: 0;
}

#theContainer .row, #rightMenu .row {
    margin-left: 0;
    margin-right: 0;
}

.borderCom {
    margin-top: 63px;
    margin-left: 8px;
    /*border-bottom: 1px solid #3FD0C3;*/
}

.footerComment {
    /*border-color:  #3fd0c3;
    border-color:  rgba(63, 208, 195, 1);*/
    border-color: #e4e4e4;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding-top: 5px;
}

.commentaire-commentaires {
    margin-left: 30px;
}

.commentaire-content .col-md-6 {
    padding: 0px;
}

.commentaire-content .pull-left {
    margin-right: 4px;
}

.commentaire-content {
    margin-bottom: 7px;
}

 .pseudo {
        color: #3fd0c3;
        text-decoration: underline;
    }

.commentaire-publication {
    margin-left: 30px;
    font-size: 16px;
}

.footerComment .nbCommentaire {
    text-align: right;
}

.footerComment .commentaire-poster {
    text-align: center;
}
 .commentaire-poster {
    margin-top: 4px;
    font-size: 11px;
}
.new-commentaire-ajax {
    margin-left: -4px;
    border-left: 4px solid #3fd0c3;
}
.commentaireDeComExt {
    margin-top: 10px;
}
.commentaireDeComExt > .col-md-10 {
    padding-left: 4px;
}
/*title*/
h1, h2 {
    color: #838383;
}

h3 {
    color: #676767;
}

h1 {
    margin-left: 15px;
    margin-top: 15px;
    padding-left: 5px;
    border-bottom: solid 2px #3FD0C3;
}

h3 {
    margin-left: 15px;
}

a {
    color: inherit;
}

    a:hover, h3 a:active {
        color: #16C7B7;
    }

/*style overide formulaire*/
input,textarea,.form-control,.btn {
    -ms-border-radius: 0;
    border-radius: 0;
}

/*margin de pour niveau de commentaires*/
.margin-1 {
    margin-left: 45px;
}

.margin-2 {
    margin-left: 90px;
}

.margin-3 {
    margin-left: 135px;
}
.empty-hr {
    width: 100%;
    border-top: none;
}
.margin-4 {
    margin-left: 180px;
}
.form-horizontal {
    margin-top: 30px;
}
/*responsive design*/
@media (max-width: 750px) {
    .divider {
        display: none !important;
    }

    footer .separator {
        display: none !important;
    }
}
