@model IPagedList<CommentaireExterne>

@{
    ViewBag.Title = CommentaireExterneRessources.Title;
}

<h1>@ViewBag.TitreContenu</h1>

<div id="commentairesExtBlock">
    @Html.Partial("PartialView/_PartialCommentairesExternes", Model)



    <div class="pageList">
        @Html.PagedListPager(Model, page => Url.Action("Categorie", new { categorieName = ViewBag.TitreContenu, page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>


