@model IPagedList<CommentaireExterne>

@{
    ViewBag.Title = CommentaireExterneRessources.Title;
}

<h2>@CommentaireExterneRessources.NouveauCommentaires</h2>

@Html.Partial("PartialView/_PartialCommentairesExternes",Model)


