@model IPagedList<CommentaireExterne>

@{
    ViewBag.Title = CommentaireExterneRessources.Title;
}

<h1>@CommentaireExterneRessources.NouveauCommentaires</h1>

@Html.Partial("PartialView/_PartialCommentairesExternes",Model)


