@if (Request.IsAuthenticated)
{
    <span>
        <span class="pull-left">
            Bonjour, @Html.ActionLink(User.Identity.Name, "Edit", "User", null, new { @class = "username", title = "Gérer" }) |
        </span>
        @using (Html.BeginForm("Deconnexion", "User", FormMethod.Post, new { id = "logoutForm", @class = "pull-left" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a>
        }
    </span>
}
else
{
@Html.ActionLink("S'inscrire / Se connecter", "Index", "User", null, new { id = "registerLink" })
}