@model IEnumerable<DansTesComs.WebSite.Models.User>

@{
    ViewBag.Title = "Connexion Inscription";
}
<div class="row"></div>
<h2>Connexion</h2>

<p>
    @Html.ActionLink("Incription", "Create")
</p>

